<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.dao.MenuDao">

	<!-- <insert id="insertLog" parameterType="com.erp.model.MenuBar"> insert 
		into log4 values(#{log_name},#{log_pass},#{log_time},#{log_IP},#{log_status}) 
		</insert> -->

	<resultMap type="com.erp.model.MenuBar" id="menuList">
		<result column="menu_Id" property="menu_Id" />
		<result column="menu_Name" property="menu_Name" />
		<result column="menu_Url" property="menu_Url" />
	</resultMap>

	<select id="menuList" resultMap="menuList">
		select * from menuBar
	</select>
	
	<insert id="addMenu" parameterType="com.erp.model.MenuBar">
	   insert into menuBar(menu_Name,menu_Url) values(#{menu_Name},#{menu_Url})
	</insert>
	
	<delete id="deleteMenu" parameterType="java.lang.Integer">
	  delete from menuBar where menu_Id=#{menu_Id}
	</delete>

</mapper>